*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /* box-sizing: border-box para que las cajas no se desborden unas con otras */
}
body{
    font-family: 'Mate SC', serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}
    .header{
        background: url(../imagenes/3.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }

        .menu{
            background: rgba(0, 0, 0, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    color: azure;
                    font-size: 28px;
                    
                }

                .logo a:hover{
                    color: black;
                }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                    color: azure;
                    font-size: 13px;
                    text-transform:uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }

                .nav a:hover{
                    color: black;
                }
            .social{
                flex: 1 1 auto;
                display: flex;
            }
                .social a{
                    color: azure;
                    font-size: 14px;
                    padding: 0 5px;
                }

                .social a:hover{
                    color: black;
                }
            .texto-principal{
               height: 580px;
               display: flex;
               align-items:center;
               
            }
                /* .texto-principal h1{
                    font-family: 'Lobster', cursive;
                } */

                .texto-principal h1{
                    font-family: 'Dancing Script', cursive;
                    color: azure;
                    font-weight: 300;
                    font-size: 30px;
                    text-align: center;
                    line-height: 1.6;
                    padding: 200px;
                }



    .section{
        background: #000;
        display: flex;
        padding: 10px;
    }
        .articulos{
            background: #000;
            flex: 2 1 100%;
            display:flex;
            flex-flow: row wrap;
            margin: 14px;
            
        }

            .article{
                flex:1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1;
                color: azure;
                margin: 10px 10px 10px 10px;
                flex: 1 1 45%;
                background: rgb(10, 10, 10);
                border-radius: 3px;
            }

                .article h3{
                    color: azure;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-top:-80px;
                    text-align: center;
                }

                .article h2{
                    font-size:25px;
                    text-transform: uppercase;
                    padding: 0px 0 10px 0;
                    color: azure;
                    text-align: center;
                }

                .article img{
                    width:100%;
                }

                .article a{
                    color: #000;
                    font-size: 13px;
                    padding: 5px;
                    background: #fff;
                    /* Para que no quede el botón sobre el texto */
                    display:block;
                    /* margin-left: auto;
                    margin-right: auto;
                    padding: 20px; */
                    text-align: center;
                    margin: 14px 200px;
                }

                .article a:hover{
                    background: rgb(182, 122, 53);
                }
            .navegacion{
                background: rgb(182, 122, 53);
                flex: 1 1 100%;
                margin: 10px;
                padding: 2px;
                text-decoration: none;
                
            }

            .navegacion a{
                font-size: 14px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
                color: white;
            }
        
        .aside{
            /* background: #f73f52; */
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
            .aside img{
                width: 100%;
            }
            .aside h4{
                background: #fff;
                color: #000;
                padding: 10px;
                text-transform: uppercase;
            }
            .publicidad{
                background: #333;
                margin: 10px;
                margin-bottom: 20px;
            }
            

    .footer{
        background: #000;
        display:flex;
        justify-content: center;
    }

        .pie{
            background: #e6af2e;
            width: 400px;
            text-align:center;
            padding: 0px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    
    .menu{
        flex-direction: column;
        height: auto;
    }

    .aside{
        display: flex;
        justify-content: center;
    }

    .texto-principal h1{
        padding: 0px;
        font-size: 25px;
    }
    .article h2{
        font-size: 20px;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }

    .texto-principal h1{
        padding: 0px;
    }
    .article h2{
        font-size: 25px;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }

    .texto-principal h1{
        padding: 0px;
    }

    .article h2{
        font-size: 20px;
    }
}